In [2]:
import pandas as pd
ruta = r"C:\Users\favil\ProjecteData\Equip_16\Data\banca_22.09_dataset.csv"
trans = pd.read_csv(ruta)

trans

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,Clase de edad,Perfil
0,1,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,55-64,Gen Z & Boomers
1,2,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,55-64,Gen Z & Boomers
2,3,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,35-44,Adultxs
3,4,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,55-64,Gen Z & Boomers
4,5,54.0,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,45-54,Divorciadxs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16157,21379,47.0,technician,divorced,secondary,no,236,no,no,cellular,18,aug,263,4,-1,0,unknown,no,45-54,Divorciadxs
16158,21380,33.0,management,married,tertiary,no,6513,yes,no,cellular,11,jan,170,1,343,1,other,yes,25-34,Millenials
16159,21381,42.0,admin.,married,secondary,no,329,no,no,cellular,19,aug,347,3,-1,0,unknown,no,35-44,Adultxs
16160,21382,31.0,services,married,secondary,no,593,yes,no,cellular,19,nov,391,2,-1,0,unknown,no,25-34,Millenials
16161,21383,40.0,entrepreneur,married,tertiary,no,1953,yes,no,unknown,6,jun,112,5,-1,0,unknown,no,35-44,Adultxs

In [ ]:
def saldo_categorico(x):
    if x < 0:
        return "negativo"
    elif x == 0: 
        return 'cero'
    elif  x > 0 and x <= 2500:
        return 'bajo'
    elif  x > 2500  and x <= 10000:
        return 'medio' #deberÃ­a ser la media
    elif  x > 10000:
        return 'alto'
     #Como no hay edades inferiores a 18 no va dar problemae

trans['Saldo'] = trans['balance'].apply(saldo_categorico)
trans # Para visualizar la tabla generada

,id,age,job,marital,education,default,balance,housing,loan,contact,...,month,duration,campaign,pdays,previous,poutcome,deposit,Clase de edad,Perfil,Saldo
0,1,59.0,admin.,married,secondary,no,2343,yes,no,unknown,...,may,1042,1,-1,0,unknown,yes,55-64,Gen Z & Boomers,bajo
1,2,56.0,admin.,married,secondary,no,45,no,no,unknown,...,may,1467,1,-1,0,unknown,yes,55-64,Gen Z & Boomers,bajo
2,3,41.0,technician,married,secondary,no,1270,yes,no,unknown,...,may,1389,1,-1,0,unknown,yes,35-44,Adultxs,bajo
3,4,55.0,services,married,secondary,no,2476,yes,no,unknown,...,may,579,1,-1,0,unknown,yes,55-64,Gen Z & Boomers,bajo
4,5,54.0,admin.,married,tertiary,no,184,no,no,unknown,...,may,673,2,-1,0,unknown,yes,45-54,Divorciadxs,bajo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16157,21379,47.0,technician,divorced,secondary,no,236,no,no,cellular,...,aug,263,4,-1,0,unknown,no,45-54,Divorciadxs,bajo
16158,21380,33.0,management,married,tertiary,no,6513,yes,no,cellular,...,jan,170,1,343,1,other,yes,25-34,Millenials,medio
16159,21381,42.0,admin.,married,secondary,no,329,no,no,cellular,...,aug,347,3,-1,0,unknown,no,35-44,Adultxs,bajo
16160,21382,31.0,services,married,secondary,no,593,yes,no,cellular,...,nov,391,2,-1,0,unknown,no,25-34,Millenials,bajo
16161,21383,40.0,entrepreneur,married,tertiary,no,1953,yes,no,unknown,...,jun,112,5,-1,0,unknown,no,35-44,Adultxs,bajo

In [ ]:
#Chi cuadrada para los perfiles
import pandas as pd
from scipy.stats import chi2_contingency
from itertools import combinations

# Supongamos que tienes un DataFrame con 3 variables categÃ³ricas
df = trans

vars_categoricas = ["Clase de edad", "job", "marital", "education","Perfil"]

for v1, v2 in combinations(vars_categoricas, 2):
    tabla = pd.crosstab(df[v1], df[v2])
    chi2, p, dof, expected = chi2_contingency(tabla)
    print(f"{v1} vs {v2} -> Chi2={chi2:.3f}, p={p:.3f}")

# Si el p-valor es inferior a 0,5 quiere decir que hay relaciÃ³n entre las variables ya que la hipÃ³tesis nula es que son independientes. 
# Por tanto si el p-valor es superior a 0,5 las variables son independientes.

Clase de edad vs job -> Chi2=11638.164, p=0.000
Clase de edad vs marital -> Chi2=4013.401, p=0.000
Clase de edad vs education -> Chi2=1225.425, p=0.000
Clase de edad vs Perfil -> Chi2=48486.000, p=0.000
job vs marital -> Chi2=1862.230, p=0.000
job vs education -> Chi2=10352.123, p=0.000
job vs Perfil -> Chi2=5324.977, p=0.000
marital vs education -> Chi2=517.900, p=0.000
marital vs Perfil -> Chi2=2768.451, p=0.000
education vs Perfil -> Chi2=914.482, p=0.000

In [ ]:
#Chi cuadrada para los perfiles
import pandas as pd
from scipy.stats import chi2_contingency
from itertools import combinations

#variables categÃ³ricas
df = trans

vars_categoricas = ["Clase de edad", "job", "marital", "education","Perfil"]

for v1, v2 in combinations(vars_categoricas, 2):
    tabla = pd.crosstab(df[v1], df[v2])
    chi2, p, dof, expected = chi2_contingency(tabla)
    print(f"{v1} vs {v2} -> Chi2={chi2:.3f}, p={p:.3f}")

# Si el p-valor es inferior a 0,5 quiere decir que hay relaciÃ³n entre las variables ya que la hipÃ³tesis nula es que son independientes. 
# Por tanto si el p-valor es superior a 0,5 las variables son independientes.

#Chi cuadrada para los productos financieros
import pandas as pd
from scipy.stats import chi2_contingency
from itertools import combinations

# variables categÃ³ricas
df = trans

vars_categoricas = ["Perfil", "deposit", "housing", "loan","Saldo"]

for v1, v2 in combinations(vars_categoricas, 2):
    tabla = pd.crosstab(df[v1], df[v2])
    chi2, p, dof, expected = chi2_contingency(tabla)
    print(f"{v1} vs {v2} -> Chi2={chi2:.3f}, p={p:.3f}")

Clase de edad vs job -> Chi2=11638.164, p=0.000
Clase de edad vs marital -> Chi2=4013.401, p=0.000
Clase de edad vs education -> Chi2=1225.425, p=0.000
Clase de edad vs Perfil -> Chi2=48486.000, p=0.000
job vs marital -> Chi2=1862.230, p=0.000
job vs education -> Chi2=10352.123, p=0.000
job vs Perfil -> Chi2=5324.977, p=0.000
marital vs education -> Chi2=517.900, p=0.000
marital vs Perfil -> Chi2=2768.451, p=0.000
education vs Perfil -> Chi2=914.482, p=0.000
Perfil vs deposit -> Chi2=278.915, p=0.000
Perfil vs housing -> Chi2=755.624, p=0.000
Perfil vs loan -> Chi2=93.694, p=0.000
Perfil vs Saldo -> Chi2=193.118, p=0.000
deposit vs housing -> Chi2=649.303, p=0.000
deposit vs loan -> Chi2=185.217, p=0.000
deposit vs Saldo -> Chi2=294.915, p=0.000
housing vs loan -> Chi2=92.707, p=0.000
housing vs Saldo -> Chi2=370.808, p=0.000
loan vs Saldo -> Chi2=453.595, p=0.000